In [1]:
import pandas as pd
import numpy as np

In [2]:
types = {'ORIGIN_AIRPORT': 'object',
        'DESTINATION_AIRPORT': 'object',
        'DEPARTURE_DELAY': 'float64',
        'SCHEDULED_DEPARTURE': 'object'}

# Load data
df = pd.read_csv("flights.csv", dtype=types)
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,0005,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,0010,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,0020,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,0020,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,0025,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.dtypes

YEAR                     int64
MONTH                    int64
DAY                      int64
DAY_OF_WEEK              int64
AIRLINE                 object
FLIGHT_NUMBER            int64
TAIL_NUMBER             object
ORIGIN_AIRPORT          object
DESTINATION_AIRPORT     object
SCHEDULED_DEPARTURE     object
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
WHEELS_OFF             float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE                 int64
WHEELS_ON              float64
TAXI_IN                float64
SCHEDULED_ARRIVAL        int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
DIVERTED                 int64
CANCELLED                int64
CANCELLATION_REASON     object
AIR_SYSTEM_DELAY       float64
SECURITY_DELAY         float64
AIRLINE_DELAY          float64
LATE_AIRCRAFT_DELAY    float64
WEATHER_DELAY          float64
dtype: object

In [4]:
df.iloc[0, ]

YEAR                     2015
MONTH                       1
DAY                         1
DAY_OF_WEEK                 4
AIRLINE                    AS
FLIGHT_NUMBER              98
TAIL_NUMBER            N407AS
ORIGIN_AIRPORT            ANC
DESTINATION_AIRPORT       SEA
SCHEDULED_DEPARTURE      0005
DEPARTURE_TIME           2354
DEPARTURE_DELAY           -11
TAXI_OUT                   21
WHEELS_OFF                 15
SCHEDULED_TIME            205
ELAPSED_TIME              194
AIR_TIME                  169
DISTANCE                 1448
WHEELS_ON                 404
TAXI_IN                     4
SCHEDULED_ARRIVAL         430
ARRIVAL_TIME              408
ARRIVAL_DELAY             -22
DIVERTED                    0
CANCELLED                   0
CANCELLATION_REASON       NaN
AIR_SYSTEM_DELAY          NaN
SECURITY_DELAY            NaN
AIRLINE_DELAY             NaN
LATE_AIRCRAFT_DELAY       NaN
WEATHER_DELAY             NaN
Name: 0, dtype: object

In [5]:
def datetime_format(year, month, day, time):
    # create a date and time string
    split_time = [time[i:i+2] for i in range(0, 4, 2)]
    return '{d}/{m}/{y} {H}:{M}'.format(
        d=day, m=month, y=year, H=split_time[0], M=split_time[1]) 

# Create a new column with date and time string
df['DATETIME'] = df.apply(lambda x: datetime_format(
    x.YEAR, x.MONTH, x.DAY, x.SCHEDULED_DEPARTURE), axis=1)

In [6]:
# All values not in this list are wrong
airports = ['ABE', 'ABI', 'ABQ', 'ABR', 'ABY', 'ACK', 'ACT', 'ACV', 'ACY', 'ADK', 'ADQ', 'AEX', 'AGS', 'AKN',
            'ALB', 'ALO', 'AMA', 'ANC', 'APN', 'ASE', 'ATL', 'ATW', 'AUS', 'AVL', 'AVP', 'AZO', 'BDL', 'BET',
            'BFL', 'BGM', 'BGR', 'BHM', 'BIL', 'BIS', 'BJI', 'BLI', 'BMI', 'BNA', 'BOI', 'BOS', 'BPT', 'BQK',
            'BQN', 'BRD', 'BRO', 'BRW', 'BTM', 'BTR', 'BTV', 'BUF', 'BUR', 'BWI', 'BZN', 'CAE', 'CAK', 'CDC',
            'CDV', 'CEC', 'CHA', 'CHO', 'CHS', 'CID', 'CIU', 'CLD', 'CLE', 'CLL', 'CLT', 'CMH', 'CMI', 'CMX',
            'CNY', 'COD', 'COS', 'COU', 'CPR', 'CRP', 'CRW', 'CSG', 'CVG', 'CWA', 'DAB', 'DAL', 'DAY', 'DBQ', 
            'DCA', 'DEN', 'DFW', 'DHN', 'DIK', 'DLG', 'DLH', 'DRO', 'DSM', 'DTW', 'DVL', 'EAU', 'ECP', 'EGE',
            'EKO', 'ELM', 'ELP', 'ERI', 'ESC', 'EUG', 'EVV', 'EWN', 'EWR', 'EYW', 'FAI', 'FAR', 'FAT', 'FAY',
            'FCA', 'FLG', 'FLL', 'FNT', 'FSD', 'FSM', 'FWA', 'GCC', 'GCK', 'GEG', 'GFK', 'GGG', 'GJT', 'GNV',
            'GPT', 'GRB', 'GRI', 'GRK', 'GRR', 'GSO', 'GSP', 'GST', 'GTF', 'GTR', 'GUC', 'GUM', 'HDN', 'HIB',
            'HLN', 'HNL', 'HOB', 'HOU', 'HPN', 'HRL', 'HSV', 'HYA', 'HYS', 'IAD', 'IAG', 'IAH', 'ICT', 'IDA',
            'ILG', 'ILM', 'IMT', 'IND', 'INL', 'ISN', 'ISP', 'ITH', 'ITO', 'JAC', 'JAN', 'JAX', 'JFK', 'JLN',
            'JMS', 'JNU', 'KOA', 'KTN', 'LAN', 'LAR', 'LAS', 'LAW', 'LAX', 'LBB', 'LBE', 'LCH', 'LEX', 'LFT',
            'LGA', 'LGB', 'LIH', 'LIT', 'LNK', 'LRD', 'LSE', 'LWS', 'MAF', 'MBS', 'MCI', 'MCO', 'MDT', 'MDW',
            'MEI', 'MEM', 'MFE', 'MFR', 'MGM', 'MHK', 'MHT', 'MIA', 'MKE', 'MKG', 'MLB', 'MLI', 'MLU', 'MMH',
            'MOB', 'MOT', 'MQT', 'MRY', 'MSN', 'MSO', 'MSP', 'MSY', 'MTJ', 'MVY', 'MYR', 'OAJ', 'OAK', 'OGG',
            'OKC', 'OMA', 'OME', 'ONT', 'ORD', 'ORF', 'ORH', 'OTH', 'OTZ', 'PAH', 'PBG', 'PBI', 'PDX', 'PHF',
            'PHL', 'PHX', 'PIA', 'PIB', 'PIH', 'PIT', 'PLN', 'PNS', 'PPG', 'PSC', 'PSE', 'PSG', 'PSP', 'PUB',
            'PVD', 'PWM', 'RAP', 'RDD', 'RDM', 'RDU', 'RHI', 'RIC', 'RKS', 'RNO', 'ROA', 'ROC', 'ROW', 'RST',
            'RSW', 'SAF', 'SAN', 'SAT', 'SAV', 'SBA', 'SBN', 'SBP', 'SCC', 'SCE', 'SDF', 'SEA', 'SFO', 'SGF',
            'SGU', 'SHV', 'SIT', 'SJC', 'SJT', 'SJU', 'SLC', 'SMF', 'SMX', 'SNA', 'SPI', 'SPS', 'SRQ', 'STC',
            'STL', 'STT', 'STX', 'SUN', 'SUX', 'SWF', 'SYR', 'TLH', 'TOL', 'TPA', 'TRI', 'TTN', 'TUL', 'TUS',
            'TVC', 'TWF', 'TXK', 'TYR', 'TYS', 'UST', 'VEL', 'VLD', 'VPS', 'WRG', 'WYS', 'XNA', 'YAK', 'YUM']

# All origin and destination airports in October are wrong, so they are set to nan
df.loc[~df['ORIGIN_AIRPORT'].isin(airports), ['ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']] = np.nan

In [7]:
conditions = [
    (df['DIVERTED'] == 1),
    (df['CANCELLED'] == 1),
    (df['DIVERTED'] == 0) & (df['CANCELLED'] == 0),
    ]
values = ['DIVERTED', 'CANCELLED', 'COMPLETED']

# Create new columns for speed, delay in air time during the journey and
# unique column "status" for completed, diverted and cancelled flights.
df['SPEED'] = round(60*(df.DISTANCE/df.AIR_TIME))
df['JOURNEY_DELAY'] = (df.ELAPSED_TIME - df.SCHEDULED_TIME)
df['STATUS'] = np.select(conditions, values)

In [8]:
# Drops unused columns
drop_cols = ['YEAR', 'DAY', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
             'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL',
             'ARRIVAL_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DIVERTED', 'CANCELLED']
df.drop(columns=drop_cols, inplace=True)
df.shape

(5819079, 18)

In [9]:
# Format months, weekdays and cancellation reasons
weekday = {1: 'MON', 2: 'TUE', 3: 'WED', 4: 'THU', 5: 'FRI', 6: 'SAT', 7: 'SUN'}
month = {1: 'JAN', 2: 'FEB', 3: 'MAR', 4: 'APR', 5: 'MAY', 6: 'JUN',
         7: 'JUL', 8: 'AUG', 9: 'SEP', 10: 'OCT', 11: 'NOV', 12: 'DEC'}
cancel_1 = {'A': 1, 'B': 2, 'C': 3, 'D': 4}
cancel_2 = {1: 'Airline/Carrier', 2: 'Weather', 3: 'National Air System', 4: 'Security'}

df.replace({'DAY_OF_WEEK': weekday, 'MONTH': month, 'CANCELLATION_REASON': cancel_1}, inplace=True)
df.replace({'CANCELLATION_REASON': cancel_2}, inplace=True)

In [10]:
df.isnull().sum()

MONTH                        0
DAY_OF_WEEK                  0
AIRLINE                      0
ORIGIN_AIRPORT          486165
DESTINATION_AIRPORT     486165
DEPARTURE_DELAY          86153
DISTANCE                     0
ARRIVAL_DELAY           105071
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
DATETIME                     0
SPEED                   105071
JOURNEY_DELAY           105071
STATUS                       0
dtype: int64

In [11]:
df.nunique()

MONTH                      12
DAY_OF_WEEK                 7
AIRLINE                    14
ORIGIN_AIRPORT            322
DESTINATION_AIRPORT       322
DEPARTURE_DELAY          1217
DISTANCE                 1363
ARRIVAL_DELAY            1240
CANCELLATION_REASON         4
AIR_SYSTEM_DELAY          570
SECURITY_DELAY            154
AIRLINE_DELAY            1067
LATE_AIRCRAFT_DELAY       695
WEATHER_DELAY             632
DATETIME               397568
SPEED                     618
JOURNEY_DELAY             297
STATUS                      3
dtype: int64

In [12]:
# Save all changes in a new CSV
df.to_csv('clean_flights.csv', index=False, float_format='%.0f')